<% provide(:title, '') %>


<% if logged_in? %>

    <div class="row">
      <div class="col-lg-4">
        <p><%= render 'shared/user_info' %></p>
        <p><%= render 'shared/stats' %></p>
        <hr>
        <p><%= render 'shared/eventpost_form' %></p>
      </div>

      <div class="col-lg-8">
        <h3>Event feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>

<body class="homepage">
  <div class="jumbotron">
    <div class="container">
      <h1 class="home-logo">lowdown</h1>
      <!--<h3>Welcome to <span class="text-muted"></span>Politain!</h3>-->
      <p>Your one stop place to see, share, and connect with the awesome events in Washington D.C.</p>
      <p>If you are having a party, concert, yard sale, special night at your restaurant, a street musician wanting to
        let people know you're performing, an art show or whatever. POST IT, it's free! And I hope to see you at the
        next Lowdown event.</p>
      <p>
        <%= link_to 'Sign up!', signup_path, class: 'btn btn-success' %>
      </p>
    </div>
  </div>
</body>

<% end %>
