<% provide(:title, '') %>


<% if logged_in? %>

    <div class="row">
      <div class="col-lg-4">
        <p><%= render 'shared/user_info' %></p>
        <p><%= render 'shared/stats' %></p>
        <hr>
        <p><%= render 'shared/eventpost_form' %></p>
      </div>

      <div class="col-lg-8">
        <span class="all-events-txt">All events</span> <a tabindex="0" id="event-info" class="glyphicon glyphicon-info-sign" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="" data-content="Events are ordered by the most recent event date. With the nearest event on top."></a>

        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>

<body class="homepage">
  <div class="jumbotron">
    <div class="container">
      <h1 class="home-logo">lowdown</h1>
      <p>Your one stop place to see, share, and connect with the awesome events in Washington D.C.</p>
      <p>If you are having a party, concert, yard sale, special night at your restaurant, a street musician wanting to
        let people know you're performing, an art show or whatever. POST IT, it's free! And I hope to see you at the
        next Lowdown event.</p>
      <p>
        <%= link_to 'Sign up!', signup_path, class: 'btn btn-warning' %>
      </p>
    </div>
  </div>
</body>

<% end %>

<script type="text/javascript" charset="utf-8">
  $('#event-info').popover(function(){
    $(this).mouseover('show');

  });
</script>