<%= provide(:title, 'Log in') %>

<div class="col-lg-5 col-lg-offset-3">
  <div action="" method="" role="form">
    <h1>Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= f.check_box :remember_me, type:'checkbox' %>
          <span><small>Remember me?</small></span>
        </div>

        <%= f.submit 'Log in', class:'btn btn-primary' %>
    <% end %>
    <p>&nbsp;</p>
    <p>New user? <%= link_to 'Create account', signup_path %></p>
  </div>
</div>