<%= provide(:title, @user.username) %>


<div class="row">

  <div class="col-lg-4">
    <%= gravatar_for(@user) %>
    <h1><%= @user.username %></h1>

    <p><%= @user.email %></p>
  </div>

  <div class="col-lg-8">
    <h3>
      <% if @user.eventposts.any? %>
          <%= @user.username %>'s events
          (<%= @user.eventposts.count %>)
    </h3>
        <%= render @eventposts %>
  </div>
</div>
    <div class="row">
      <%= will_paginate @eventposts %>
    </div>

    <% end %>


