<%= provide(:title, @user.username) %>

<div class="row">
  <center><h1><%= @user.username %>'s profile</h1></center>
</div>
<hr>
<div class="row">
  <div class="col-lg-4">
    <%= gravatar_for(@user) %>
    <div class="user-profile">
      <h3><%= @user.username %></h3>
      <span class="user-summary"><%= @user.summary %></span>
      <p><%= render 'follow_form' if logged_in? %></p>
      <p><%= render 'shared/stats' %></p>
    </div>
  </div>

  <div class="col-lg-8">
    <h3>
      <% if @user.eventposts.any? %>
          <%= @user.username %>'s events <span class="badge"><%= @user.eventposts.count %></span>
    </h3>
        <%= render @eventposts %>
  </div>
</div>
    <div class="row">
      <%= will_paginate @eventposts %>
      <% end %>
    </div>



