<%= form_for(@eventpost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :title, 'Title*' %>
    <%= f.text_field :title, class:'form-control', placeholder:'Type event title here' %>
  </div>

  <div class="form-group">
    <%= f.label :content, 'Content*' %>
    <%= f.cktext_area :content, class: 'form-control', placeholder: 'Type event content here...' %>
  </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :date %>
          <div class="input-group date" id="datetimepicker2">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
              <small><i>Select date &nbsp;</i></small>
              <%= f.text_field :event_date, id:'date', class: '', placeholder:'yyyy-mm-dd' %>
            </span>
          </div>
        </div>
      </div>
    </div>

  <div class="form-group">
    <%= f.label :upload_image %> <small><i>(Allowed: .jpg .jpeg .gif .png .tiff .pdf)</i></small>
    <%= f.file_field :event_image, class:'btn btn-success' %>
  </div>

    <%= f.submit 'Post', class:'btn btn-primary' %>

<% end %>

<script type="text/javascript">
  $('#eventpost_event_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Your file size is: '+ size_in_megabytes + 'MB. It cannot be larger than 5.0MB. Please choose a smaller file.');
    }
  });



</script>

