<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>
<body>

    <%= render 'layouts/navbar' %>

    <div class="container">

    <div class="row">
      <div class="col-lg-7 col-lg-offset-2">
        <% flash.each do |message_type, message| %>
            <div class="alert-msg alert alert-<%= message_type %>">
              <%= message %>
            </div>
        <% end %>
      </div>
    </div>

      <%= yield %>

      <!-- *-====debug====-* -->
      <div class="row">
        <div class="col-lg-12">
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
      <!-- *-====/debug====-* -->

    </div>

    <%= render 'layouts/footer' %>

</body>
</html>
